<nav class="level">
  <div class="level-left">
    <button class="button is-warning">avoir</button>
  </div>
  <div class="level-element">
    <button class="button is-info">Montage</button>
  </div>
  <div class="level-element">
    <button class="button is-primary">Relation Client</button>
  </div>
  <div class="level-element">
    <button class="button is-danger">sav</button>
  </div>
  <div class="level-right">
    <div class="control has-icons-right">
      <input class="input" type="text" placeholder="Filtrer">
      <span class="icon is-small is-right">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</nav>
