.card { margin-bottom: 10px; padding: 10px; padding-top: 0;background-color: #efefef}
.cool {padding:0px;height:30px;background-color: seagreen}
.quick {padding:0px;height:30px;background-color: #333333}
.hurry {padding:0px;height:30px;background-color: #bc4b4b}
.sav {}
.compta {}
.relC {}
.montage {}
