<item-filter></item-filter>
<h1>{{ (items | async)?.length }} taches en attentes</h1>

<div *ngFor="let item of items | async | taskList" class="card" [ngClass]="{'cool': item.beCool, 'quick': item.beQuick, 'hurry': item.beHurry, 'compta': item.compta, 'sav': item.sav, 'relC': item.relC, 'montage': item.montage}">
  <item-detail [item]='item'></item-detail>
</div>

<loading-spinner *ngIf=
                   "showSpinner"></loading-spinner>



<button type="button" class="button is-danger" (click)='deleteItems()'>Delete Entire List</button>

<hr>

<item-form></item-form>
