<div class="tile is-ancestor">
  <div *ngIf="router.url == '/items'" class="tile is-parent is-vertical" style="spacing: 50px">
    <button class="button is-dark is-child" (click)="addTask()"><i class="material-icons">control_point</i>Tache</button>
    <button class="button is-danger is-child"><i class="material-icons">control_point</i>SAV</button>
    <button class="button is-info is-child"><i class="material-icons">control_point</i>Montage</button>
    <button class="button is-success is-child"><i class="material-icons">control_point</i>Client</button>
    <button class="button is-warning is-child"><i class="material-icons">control_point</i>Avoir</button>
  </div>
</div>
