<div style="display: inline-block; vertical-align: middle">
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
  <div class="button" style="border: none">
    <button class="button is-dark"><i class="material-icons">control_point</i>Tache</button>
  </div>
</div>
